- let about = 'Joven diseñadora y emprendedora peruana, que ofrece a través de sus modelos innovadores una línea exclusiva de ropa; en nuestras tiendas encontrará ropa para distinguirse y el mejor trato para su comodidad.'

.about-portrait
	img(src= brand.logo, alt="Fotografía de Manu")
.about-content
	p= about
