<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Manu's Elegance - Ropa exclusiva para damas</title>
		<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/style.css?t=1645689537041">
		<script src="https://kit.fontawesome.com/ac20f32be7.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="header">
			<div class="logo"><a href="./"><img src="assets/logo.svg" alt="Logo Manu's Elegance"></a></div>
			<nav class="navbar">
				<ul class="main-navbar">
					<li class="navbar-item actual"><a href="./">novedades</a></li>
					<li class="navbar-item"><a href="./productos.html">productos</a></li>
					<li class="navbar-item"><a href="./productos.html">catalogo de temporada</a></li>
				</ul>
				<ul class="second-navbar">
					<li class="navbar-item">
						<button class="navbar-btn" id="btn-sales">
							<div class="navbar-icon"></div>
							<div class="navbar-text">Puntos de Venta</div>
						</button>
					</li>
					<li class="navbar-item">
						<button class="navbar-btn" id="btn-contact">
							<div class="navbar-icon"></div>
							<div class="navbar-text">Contacto</div>
						</button>
					</li>
					<li class="navbar-item">
						<button class="navbar-btn" id="btn-about">
							<div class="navbar-icon"></div>
							<div class="navbar-text">Acerca de</div>
						</button>
					</li>
				</ul>
			</nav>
			<div class="toggle-menu">
				<div class="burger"></div>
			</div>
		</header>
		<main class="main">
			<div class="productos">
				<div class="categorias-menu">
					<div class="categorias-title">+ categorias</div>
					<ul><a href="./productos.html">
							<li>novedades</li></a><a href="./productos.html">
							<li>abrigos</li></a><a href="./productos.html">
							<li>blazers</li></a><a href="./productos.html">
							<li>casacas</li></a><a href="./productos.html">
							<li>chalecos</li></a><a href="./productos.html">
							<li>chalinas</li></a><a href="./productos.html">
							<li>poleras</li></a><a href="./productos.html">
							<li>sacos</li></a><a href="./productos.html">
							<li>vestidos</li></a>
					</ul>
				</div>
				<div class="productos-listado">
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-1.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-2.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-3.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-4.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-5.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-6.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-7.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-8.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-9.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-10.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-11.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
					<div class="card-producto"><a href="./articulos.html"><img src="assets/images/productos/producto-12.jpg" alt="prenda de determinadas características y en específicos colores"/><span class="card-title">prenda de determinadas características y en específicos colores</span><span class="card-price">S/. 125.50</span></a></div>
				</div>
			</div>
			<div class="paginacion"><a href="./productos.html">
					<button class="pagina-btn">&lt</button></a><a href="./productos.html">
					<button class="pagina-btn actual">1</button></a><a href="./productos.html">
					<button class="pagina-btn">2</button></a><a href="./productos.html">
					<button class="pagina-btn">3</button></a><a href="./productos.html">
					<button class="pagina-btn">4</button></a><a href="./productos.html">
					<button class="pagina-btn">5</button></a><a href="./productos.html">
					<button class="pagina-btn">6</button></a><a href="./productos.html">
					<button class="pagina-btn">7</button></a><a href="./productos.html">
					<button class="pagina-btn">8</button></a><a href="./productos.html">
					<button class="pagina-btn">9</button></a><a href="./productos.html">
					<button class="pagina-btn">10</button></a><a href="./productos.html">
					<button class="pagina-btn">&gt</button></a>
			</div>
			<div class="resultados">
				<p>Mostrando resultados del 1 al 12<br>de 120 encontrados.</p>
			</div>
		</main>
		<footer class="footer">
			<div class="footer-sections">
				<ul class="footer-categories">
					<p class="footer-title">categorias</p>
					<li class="footer-item"><a href="./productos.html">novedades</a></li>
					<li class="footer-item"><a href="./productos.html">abrigos</a></li>
					<li class="footer-item"><a href="./productos.html">blazers</a></li>
					<li class="footer-item"><a href="./productos.html">casacas</a></li>
					<li class="footer-item"><a href="./productos.html">chalecos</a></li>
					<li class="footer-item"><a href="./productos.html">chalinas</a></li>
					<li class="footer-item"><a href="./productos.html">poleras</a></li>
					<li class="footer-item"><a href="./productos.html">sacos</a></li>
					<li class="footer-item"><a href="./productos.html">vestidos</a></li>
				</ul>
				<ul class="footer-about">
					<p class="footer-title">nosotros</p>
					<li class="footer-item">
						<button class="footer-btn" id="footer-btn-sales">Puntos de Venta</button>
					</li>
					<li class="footer-item">
						<button class="footer-btn" id="footer-btn-contact">Contacto</button>
					</li>
					<li class="footer-item">
						<button class="footer-btn" id="footer-btn-about">Acerca de</button>
					</li>
				</ul>
				<ul class="footer-contact">
					<p class="footer-title">contacto</p>
					<li class="footer-item"><span class="contact-label">direccion:</span><span class="contact-info">Jirón Mariscal Luzuriaga 355<br>Interior 103-110-111-128-136<br>Jesús María 15072</span></li>
					<li class="footer-item"><span class="contact-label">telefonos:</span><span class="contact-info">981658350<br>981626580</span></li>
					<li class="footer-item"><span class="contact-label">e-mail:</span><span class="contact-info">eavellaneda.uni@gmail.com</span></li>
					<li class="footer-item"><span class="contact-label">siguenos:</span><span class="contact-info"><a href="https://www.facebook.com/ManusElegance/" target="_blank">Facebook</a> -<a href="https://www.instagram.com/manuselegance/" target="_blank">Instagram</a></span></li>
				</ul>
			</div>
			<div class="footer-copyright">
				<p>Manu's Elegance. &copy; Todos los derechos reservados.</p>
			</div>
		</footer>
		<div class="modal-background" id="modal-sales">
			<section class="modal-container">
				<div class="modal-header"><span class="modal-icon"></span>
					<h2 class="modal-title">Puntos de Venta</h2>
				</div>
				<ul>
					<li class="location-item">
						<button class="location-btn actual-location" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5414157064574!2d-77.04960696823764!3d-12.075041629162172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9b8a41af259%3A0x9c37b9f3cf906034!2sManu's%20Elegance%20Galeria%20Center!5e0!3m2!1ses-419!2spe!4v1573677265387!5m2!1ses-419!2spe">
							<h3>Tienda Principal</h3>
							<p>Jirón Mariscal Luzuriaga 355 Interior 103-110-111-128-136, Jesús María 15072</p>
							<p>Galería Center</p>
						</button>
					</li>
					<li class="location-item">
						<button class="location-btn" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.3791342729032!2d-77.03578568578712!3d-12.086176745924096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c85ffd01e179%3A0x672131fafbb3fa00!2sJuegos%20Ponte%20Mosca!5e0!3m2!1ses-419!2spe!4v1570382595321!5m2!1ses-419!2spe">
							<h3>Tienda Sucursal</h3>
							<p>Avenida Tupac Amaru 210 Apartado 1301, Rimac 15333</p>
							<p>Galería La Ideal</p>
						</button>
					</li>
				</ul>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5414157064574!2d-77.04960696823764!3d-12.075041629162172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9b8a41af259%3A0x9c37b9f3cf906034!2sManu's%20Elegance%20Galeria%20Center!5e0!3m2!1ses-419!2spe!4v1573677265387!5m2!1ses-419!2spe" frameborder="0" allowfullscreen id="location-iframe"></iframe>
				<div class="modal-close">
					<div class="modal-icon-close"></div>
				</div>
			</section>
		</div>
		<div class="modal-background" id="modal-contact">
			<section class="modal-container">
				<div class="modal-header"><span class="modal-icon"></span>
					<h2 class="modal-title">Contacto</h2>
				</div>
				<div class="datos-contacto">
					<div class="subdatos-1">
						<p><span class="contact-icon contact-mail"></span><span class="contact-data">eavellaneda.uni@gmail.com</span></p>
						<p><span class="contact-icon contact-address"></span><span class="contact-data">Jirón Mariscal Luzuriaga 355 Interior 103-110-111-128-136, Jesús María 15072</span></p>
					</div>
					<div class="subdatos-2">
						<p><span class="contact-icon contact-phone"></span><span class="contact-data">---</span></p>
						<p><span class="contact-icon contact-whatsapp"></span><span class="contact-data">981658350</span></p>
						<p><span class="contact-icon contact-whatsapp"></span><span class="contact-data">981626580</span></p>
					</div>
				</div>
				<div class="modal-header"><span class="modal-icon escribenos"></span>
					<h2 class="modal-title">escribenos</h2>
				</div>
				<form class="contact-form" action="" method="POST">
					<div class="contact-input-label">
						<label for="nombres">Nombres:</label>
						<input type="text" placeholder="Nombres" name="name" id="nombres"/>
					</div>
					<div class="contact-input-label">
						<label for="correo">Correo:</label>
						<input type="email" placeholder="Correo electrónico" name="mail" id="correo"/>
					</div>
					<div class="contact-input-label">
						<label for="mensaje">Mensaje:</label>
						<textarea placeholder="Escribe aquí tu mensaje..." name="msge" id="mensaje" cols="30" rows="5"></textarea>
					</div>
					<div class="contact-submit">
						<input class="btn-black" type="submit" value="Enviar (No Disponible)" name="send" disabled="disabled"/>
					</div>
				</form>
				<div class="modal-close">
					<div class="modal-icon-close"></div>
				</div>
			</section>
		</div>
		<div class="modal-background" id="modal-about">
			<section class="modal-container">
				<div class="modal-header"><span class="modal-icon"></span>
					<h2 class="modal-title">Acerca de</h2>
				</div>
				<div class="about-portrait"><img src="assets/logo.svg" alt="Fotografía de Manu"></div>
				<div class="about-content">
					<p>Joven diseñadora y emprendedora peruana, que ofrece a través de sus modelos innovadores una línea exclusiva de ropa; en nuestras tiendas encontrará ropa para distinguirse y el mejor trato para su comodidad.</p>
				</div>
				<div class="modal-close">
					<div class="modal-icon-close"></div>
				</div>
			</section>
		</div>
		<div class="social-container"><a href="https://www.facebook.com/ManusElegance/" target="_blank">
				<div class="social-item"><i class="fab fa-facebook-square"></i></div></a><a href="https://www.instagram.com/manuselegance/" target="_blank">
				<div class="social-item"><i class="fab fa-instagram-square"></i></div></a></div>
		<button class="whatsapp-btn" id="whatsapp-btn"><i class="fab fa-whatsapp"></i></button>
		<div class="whatsapp-container" id="whatsapp-container">
			<div class="whatsapp-box" id="whatsapp-box">
				<div class="close" id="whatsapp-close">
					<div class="close-line"></div>
				</div>
				<header><img src="assets/images/avatar.png" alt="Avatar de manuselegance">
					<div class="title">
						<h2>Manu's elegance</h2>
						<p>En línea</p>
					</div>
				</header>
				<section class="content">
					<div class="message-box">
						<p class="name">Manu's elegance:</p>
						<p class="message">Hola!&#32;<span>&#128516;</span>&#32;Bienvenido, en qué puedo ayudarte?</p>
						<p class="time" id="whatsapp-time"></p>
					</div>
				</section>
				<section class="chatbox">
					<textarea name="" placeholder="Escribe tu mensaje..." id="whatsapp-message"></textarea><a href="https://web.whatsapp.com/send?phone=51992112641&amp;text=Hola!%20Deseo%20informes%20:)" target="_blank" id="whatsapp-send">
						<p>Enviar</p></a>
				</section>
			</div>
		</div>
		<script src="js/main-min.js?t=1645689537041"></script>
	</body>
</html>